
{%- if block.settings.logo -%}
  {%- style -%}
    .footer__logo a {
      height: {{ block.settings.desktop_logo_height }}px;
    }
  {%- endstyle -%}
  {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
  <div class="footer__logo">
    <a href="{{ routes.root_url }}">
      <img src="{{ block.settings.logo | img_url: footer_logo_size, scale: 2 }}" alt="{{ block.settings.logo.alt | default: shop.name }}">
      <p>*[for nurses] in korean</p>
    </a>
  </div>
{%- endif -%}

<style>
  .footer__logo p {
    font-size: 12px;
    text-align: right;
    {% comment %} margin-right: 17%; {% endcomment %}
}
</style>
{% comment %} <div class="footer__item-padding">
  {%- if block.settings.show_footer_title -%}
    <p class="h4 footer__title small--hide">{{ block.settings.title }}</p>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="Footer-{{ block.id }}">
   {{ block.settings.title }} 
      {%- render 'collapsible-icons' -%}
    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
 {%- if block.settings.text -%}
          {{ block.settings.text }}
        {%- endif -%} 
        <div class="footer-new-letter">
          <div class="klaviyo-form-UkGSN8"></div>
        </div>
       


        {% comment %}
        {% render 'social-icons', additional_classes: 'footer__social' %}
        {% endcomment %}

      </div>
    </div>
  </div>
</div> {% endcomment %}



<style>
  .footer-new-letter
  button {
    padding: 0 17px !important;
    display: block;
    border-radius: 64px !important;
    font-family: montserratregular !important;
}
.footer-new-letter
 input {
  border-radius: 30px !important;
}
.footer-new-letter
form{
  padding: 0 !important;
  font-family: montserratregular !important;
}

@media screen and (max-width: 600px) {
  .grid__item.footer__item--1494292487693 {
    margin: 0;
  }
}

</style>