{%- comment %}<locksmith:ee0d>{% endcomment -%}
  {%- include 'locksmith' -%}{{ locksmith_initializations -}}
{%- comment %}</locksmith:ee0d>{% endcomment -%}

{%comment%}LH_1_0{%endcomment%}
{%- comment -%}
  Default Layouthub theme
  Using for full = 0
{%- endcomment -%}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- render 'layouthub_header' -%}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
 
  {%- if page_description -%}
    {%- comment %}<locksmith:324c>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:324c>{% endcomment -%}
  {%- endif -%}

  {%- assign og_title = page_title -%}
  {%- assign og_url = canonical_url -%}
  {%- assign og_type = 'website' -%}
  {%- assign og_description = page_description | default: shop.description | default: shop.name -%}


  {% comment %} Template specific overides {% endcomment %}
  {% if template.name == 'product' %}
    {%- assign og_title = product.title | strip_html -%}
    {%- assign og_type = 'product' -%}
    {% if product.images.size > 0 %}
      {%- capture og_image_tags -%}{% for image in product.images limit:3 -%}{%- comment %}<locksmith:5943>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ image.src | product_img_url: '1200x1200' }}">{% endif -%}{%- comment %}original: <meta property="og:image" content="http:{{ image.src | product_img_url: '1200x1200' }}">{%- endcomment %}{%- comment %}</locksmith:5943>{% endcomment -%}{% endfor -%}{% endcapture -%}
      {%- capture og_image_secure_url_tags -%}{% for image in product.images limit:3 -%}{%- comment %}<locksmith:4150>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1200x1200' }}">{% endif -%}{%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1200x1200' }}">{%- endcomment %}{%- comment %}</locksmith:4150>{% endcomment -%}{% endfor -%}{% endcapture -%}
    {% endif %}

  {% elsif template.name == 'article' %}
    {%- assign og_title = article.title | strip_html -%}
    {%- assign og_type = 'article' -%}
    {%- assign og_description = article.excerpt_or_content | strip_html -%}
    {% if article.image %}
      {%- capture og_image_tags -%}{%- comment %}<locksmith:ed87>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">{% endif -%}{%- comment %}original: <meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">{%- endcomment %}{%- comment %}</locksmith:ed87>{% endcomment -%}{%- endcapture -%}
      {%- capture og_image_secure_url_tags -%}{%- comment %}<locksmith:6f1d>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">{% endif -%}{%- comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">{%- endcomment %}{%- comment %}</locksmith:6f1d>{% endcomment -%}{%- endcapture -%}
    {% endif %}

  {% elsif template.name == 'collection' %}
    {%- assign og_title = collection.title | strip_html -%}
    {%- assign og_type = 'product.group' -%}
    {% if collection.image %}
      {%- capture og_image_tags -%}{%- comment %}<locksmith:69af>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">{% endif -%}{%- comment %}original: <meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">{%- endcomment %}{%- comment %}</locksmith:69af>{% endcomment -%}{%- endcapture -%}
      {%- capture og_image_secure_url_tags -%}{%- comment %}<locksmith:a222>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">{% endif -%}{%- comment %}original: <meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">{%- endcomment %}{%- comment %}</locksmith:a222>{% endcomment -%}{%- endcapture -%}
    {% endif %} 

  {% elsif template.name == 'password' %}
    {%- assign og_title = shop.name -%}
    {%- assign og_url = shop.url -%}
    {%- assign og_description = shop.description | default: shop.name -%}
  {% endif %}

  <meta property="og:site_name" content="{{ shop.name }}">
  <meta property="og:url" content="{{ og_url }}">
  {%- comment %}<locksmith:30b0>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ og_title }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ og_title }}">{%- endcomment %}
  {%- comment %}</locksmith:30b0>{% endcomment -%}
  {%- comment %}<locksmith:4349>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="{{ og_type }}">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="{{ og_type }}">{%- endcomment %}
  {%- comment %}</locksmith:4349>{% endcomment -%}
  {%- comment %}<locksmith:d81a>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:description" content="{{ og_description }}">{% endif -%}
    {%- comment %}original: <meta property="og:description" content="{{ og_description }}">{%- endcomment %}
  {%- comment %}</locksmith:d81a>{% endcomment -%}
  {% if template.name == 'product' %}
    {%- comment %}<locksmith:6bb0>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{% endif -%}
      {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{%- endcomment %}
    {%- comment %}</locksmith:6bb0>{% endcomment -%}
    {%- comment %}<locksmith:8144>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:currency" content="{{ cart.currency.iso_code }}">{% endif -%}
      {%- comment %}original: <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">{%- endcomment %}
    {%- comment %}</locksmith:8144>{% endcomment -%}
  {% endif %}
  {{ og_image_tags }}
  {{ og_image_secure_url_tags }}


  <meta name="twitter:card" content="summary_large_image">
  {%- comment %}<locksmith:cd25>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ og_title }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:title" content="{{ og_title }}">{%- endcomment %}
  {%- comment %}</locksmith:cd25>{% endcomment -%}
  {%- comment %}<locksmith:e5b3>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ og_description }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:description" content="{{ og_description }}">{%- endcomment %}
  {%- comment %}</locksmith:e5b3>{% endcomment -%}
  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
   {{ content_for_header }}
  
</head>

<body class="template-{{ template | split: '.' | first }}">
  <div class="layouthub">
    {{ content_for_layout }}
  </div>
 <script src="{{ 'layouthub-jquery.min.js' | asset_url  }}"></script>
</body>
</html>
