{% if section.settings.enable_bar %}
  <div class="ticker-wrap" style="background-color:{{ section.settings.background_annoucement }}">
    <div class="ticker">
      {% for i in (1..50) %}
      <div class=" ticker__item " style="color:{{ section.settings.background_annoucement_text_color }};">{{ section.settings.content1 }}</div>
       {% endfor %}
    </div>
</div>
{% endif %}

<style>
  .ticker-wrap .ticker__item {
 font-family: {{ section.settings.fontfamily }};
 font-size: {{ section.settings.fontsizeupdate }}px;
 font-weight:{{ section.settings.colorscheme }}
}

</style>
{% schema %}
  {
    "name": "Product Announcement",
     "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
        {
      "type": "color",
      "id": "background_annoucement_text_color",
      "label": "Text Color"
    },        {
      "type": "color",
      "id": "background_annoucement",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "content1",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "html",
      "id": "font-import",
      "label": "Import your font Google",
      "default": "<style></style>"
    },

  {
      "type":   "range",
      "id":     "header_padding",
      "min":    0,
      "max":    100,
      "step":   1,
      "unit":   "px",
      "label":  "Header padding",
      "default":   0,
  "info":   "Pushes page content down below announcement bar (only needed on some themes)"
    },
  {
      "type":   "range",
      "id":     "fontsizeupdate",
      "min":    0,
      "max":    100,
      "step":   1,
      "unit":   "px",
      "label":  "Font-size",
      "default":   12
    },
    {
      "type": "select",
      "id": "colorscheme",
      "options": [
        {
          "value": "700",
          "label": "bold"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "900",
          "label": "Black"
        },
        {
          "value": "Italic",
          "label": "Italic"
        }
      ],
      "default": "400",
      "label": "Normal"
    },
    {
      "type": "text",
      "id": "fontfamily",
      "label": "Put your font family"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}