

    <!-- Slider main container -->
<div class=" swiper swiper-container-benner--{{ section.id }}">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
     
             {% for c in section.blocks %}
              <div class="swiper-slide">
                <div id="custom-banner--{{ c.id }}" class="site-container">

                  <div class="site-banner-text {% if c.settings.hideDesk %}hideDesk{% endif %}">
                      <div>
                        <h2>{{ c.settings.text }}</h2>

                        {% if c.settings.richtext  %} 
                          <div>{{ c.settings.richtext }} </div>
                        {% endif %}
                      
                        {% if c.settings.buttonText  != blank  %}
                          <div>
                            <a class="site-primary-btn btn-layout" style=" display: block; " href="{{ c.settings.buttonUrl}}">{{ c.settings.buttonText }}</a>
                          </div>
                        {% endif %}
                      </div>
                      {%- if c.settings.image != blank -%} 
                        <div class="site-banner-div mobile-hide">
                          <img src="{{ c.settings.image | img_url:"master" }}"/>
                        </div>
                        <div class="site-banner-div mobile-show">
                          <img src="{{ c.settings.image2 | img_url:"master" }}"/>
                        </div>
                      {%- endif -%}
                  </div>
                </div>
              </div>
             {% endfor %}

     
      </div>
     <!-- pagination dots -->
      <div class="swiper-pagination"></div>
    <!-- !pagination dots -->

</div>


<style>
   .swiper-container-benner--{{ section.id }}  .site-banner-text>div {
    display: unset;
  
  }

  .swiper-container-benner--{{ section.id }}  .btn-layout {

    display: inline-block !important;

}

.swiper-container-benner--{{ section.id }}  .site-banner-text>div {


  bottom: 10%;

}
.swiper-container-benner--{{ section.id }}  .site-banner-text h2 {

 font-size:3.2rem;
 color:#fff;
 font-family: SuisseIntl ;
 letter-spacing:0 !important;

}
.swiper-container-benner--{{ section.id }}  .site-banner-text p {


 color:#fff;

}
.swiper-container-benner--{{ section.id }}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

  #custom-banner--{{ section.id }} .site-banner-text img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #custom-banner--{{ section.id }} .site-banner-heading.bannerImg img {
    width: auto;
    max-height: {{ section.settings.heading_height }}px;
    margin: 0 auto;
    text-align: center;
    display: flex;
  }
 .swiper-container-benner--{{ section.id }} .btn-layout {
    border-radius: 33px !important;
    background:#fff;
    color:#000;
    border-color:#fff;
}

</style>

{% schema %}
  {
  "name": "Site Banner Slide",


    "blocks": [
      {
        "type": "Slide",
        "name": "slide",
        "settings": [
          {
            "type": "checkbox",
            "id": "hideDesk",
            "label": "Hide on desk",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.text-and-image.settings.image.label"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Mobile Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Heading"
          },
          {
            "type": "checkbox",
            "id": "useImge",
            "label": "Use Image"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Heading Image"
          },
          {
            "type": "range",
            "id": "heading_height",
            "min": 80,
            "max": 250,
            "step": 2,
            "label": "Banner Image Height",
            "default": 120
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "buttonUrl",
            "label": "Button Url"
          },
          {
            "type": "text",
            "id": "buttonText",
            "label": "Button label"
          }
        ]
      }
    ],
    
    "presets": [
      {
        "name": "Site Banner Slide"
      }
    ]
  }
{% endschema %}


<script>



        var Swipesnew = new Swiper('.swiper-container-benner--{{ section.id }}', {
          loop: true,
          speed: 900,
        parallax: true,
        autoplay: {
          delay: 6500,
          disableOnInteraction: true,
      },
          autoHeight: true, //enable auto height
          pagination: {
              el: '.swiper-pagination',
          },
      });


    




</script>


<style>
  .swiper-container {
    width: 100%;
}


.swiper-container-benner .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
{% comment %} .swiper-slide {
    background-size: cover;
    background-position: 50%;

    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} {% endcomment %}


.swiper-container-benner .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #e3276b;
}

</style>