<div class="site-container text-with-images-blocks-wrapper text-with-images-blocks-section-1 image-slide-one">
<div class="text-with-head mobile-hide">
<h2 class="indedebdnone">
      
      <span class="mobile-block">{{ section.settings.richtext }}</span>



</h2>
  </div>
 <div class="text-with-head mobile-show test margin-reduct">

       <h2><span class="only_mobile">{{ section.settings.richtext4 }}</span>
<span class="only_mobile1">{{ section.settings.richtext5 }}</span>
<span class="only_mobile2">{{ section.settings.richtext6 }}</span>
<span class="only_mobile3">{{ section.settings.richtext7 }}</span></h2>

   {% comment %} <img src="{{ section.settings.imgMob | img_url:'master' }}"> {% endcomment %}
  </div>

   <h3>{{ section.settings.h3 }}</h3>

  {% if section.settings.image != blank or section.settings.image2 != blank %}
<div class="images-wrapper-here">
  
 <div class="desktop"> 
 <a href="{{ section.settings.link-one }}">
 {{ section.settings.image | img_url:"master" | img_tag }}

</a>
</div>
   <div class="desktop">
      <a href="{{ section.settings.link-two }}">
      {{ section.settings.image2 | img_url:"master" | img_tag }}
</a>
</div>

 <div class="mobile">
      <a href="{{ section.settings.link-one }}">
      {{ section.settings.image-m | img_url:"master" | img_tag }}  </a> </div>
   <div class="mobile">
      <a href="{{ section.settings.link-two }}">
      
      {{ section.settings.image2-m | img_url:"master" | img_tag }}

</a>
</div>
</div>
  {% endif %}
</div>         

<style>

      h2.indedebdnone span {
            display: block !important;
            font-size: 1.881rem;
            text-align: center;
        }

      h2.indedebdnone {
            text-indent: 0;
        }
  .desktop{
   display: none;
}  .mobile{
      display: block;
   }


      @media only screen and (max-width: 750px)  {

            .text-with-head.mobile-show.test.margin-reduct span        {
                  display: block;
                     line-height:1.1;
                  text-align: center;
              }
            .text-with-head.mobile-show.test.margin-reduct {
                  margin-left: 0 !important;
              }
            .text-with-head.mobile-show.test.margin-reduct  span{
                  display: block;
              }

              .text-with-head.mobile-show.test.margin-reduct  h2 {
    margin: 0 !important;
    line-height: 1.1;
    padding: 38px 0;
}

            }
              @media only screen and (min-width: 750px)  {
       .mobile{
         display: none;
       }
       .desktop{
            display: block;
         }
      }

      h2.indedebdnone span {
            display: block;
        }
  .image-slide-one  h3{

                  color: #1f1f1f;
                  font-weight: 500;
                  font-size: 50px;
                  line-height: 85%;
                  letter-spacing: -0.04em;
                  text-transform: none !important;
                  margin-top:13%;
                
                  @media only screen and (max-width: 600px)  {
                  
                        font-size: 2rem;
                  }
              
      }

</style>


{% schema %}
  {
    "name": "Text with images blocks",
    "class":"text-with-images-blocks",
    "settings": [
{
"type": "text",
"id": "richtext",
"label": "Text"
},
      {
"type": "text",
"id": "richtext1",
"label": "Text"
},
      {
"type": "text",
"id": "richtext2",
"label": "Text"
},
      {
"type": "text",
"id": "richtext3",
"label": "Text"
},
      {
"type": "text",
"id": "h3",
"label": "Section Title",
"default": "FEATURED COLLECTIONS"
},

{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "image2",
"label": "Image"
},
{
      "type": "url",
      "id": "link-one",
      "label": "Link to the proudct to one"
},
{
"type": "image_picker",
"id": "image-m",
"label": "Image for mobile"
},
{
"type": "image_picker",
"id": "image2-m",
"label": "Image for mobile"
},
{
      "type": "url",
      "id": "link-two",
      "label": "Link to the proudct to one"
},
{
  "type":"header",
  "content":"Mobile"
},
      {
"type": "text",
"id": "richtext4",
"label": "Text"
},
      {
"type": "text",
"id": "richtext5",
"label": "Text"
},
      {
"type": "text",
"id": "richtext6",
"label": "Text"
},
      {
"type": "text",
"id": "richtext7",
"label": "Text"
}
      ,   {
"type": "image_picker",
"id": "imgMob",
"label": "Mobile Image"
}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}