
<div class="asyncLoad site-container text-content-with-image-wrapper">
<div class="text-content-with-image-left image-overly-withbutton-left">
  <div class="mobile-show"><h2>{{ section.settings.richtext1 }}</h2></div>

   <div class="image-with-content-gal">
    {%- if section.settings.image != blank -%}  
    
    <div class="desktop-image">
      <a href="{{ section.settings.link }}">
        {{ section.settings.image | img_url:"master" | img_tag }}
        </a>    
    </div>
    <div class="mobile-image">
      <a href="{{ section.settings.link }}">
        {{ section.settings.image2 | img_url:"master" | img_tag }}
        </a>    
    </div>
    
  
  {%- endif -%}
    <div class="gal-content">
      <h4 class="h4">{{ section.settings.h3 }}</h4>
      <p>{{ section.settings.p }}</p>
      {% if section.settings.link_text %}
         <a href="{{ section.settings.link }}" class="btn">{{ section.settings.link_text }}</a>
      {% endif %}
     
    </div>
  </div>

</div>

<div class="text-content-with-image-left image-overly-withbutton-right">


   <div class="image-with-content-gal">
    {%- if section.settings.image != blank -%} 
    <div class="desktop-image">
     <a href="{{ section.settings.link2 }}">{{ section.settings.image0 | img_url:"master" | img_tag }} </a>
    </div>
    <div class="mobile-image">
     <a href="{{ section.settings.link2 }}">{{ section.settings.image1 | img_url:"master" | img_tag }} </a>
    </div>
  {%- endif -%}
    <div class="gal-content">
      <h4 class="h4">{{ section.settings.h32 }}</h4>
      <p>{{ section.settings.p2 }}</p>
      {% if section.settings.link_text2 %}
         <a href="{{ section.settings.link2 }}" class="btn">{{ section.settings.link_text2 }}</a>
      {% endif %}
     
    </div>
  </div>

</div>


 
</div>

<style>
{% if ontop != true %}
  .image-overly-withbutton-left .image-with-content-gal .gal-content{
    top: 3%
   }
{% endif %}
{% if ontoprihgt true %}
  .image-overly-withbutton-right .image-with-content-gal .gal-content{
    top: 3%
   }
{% endif %}
.image-with-content-gal .mobile-image{
 display: none;
}
.image-with-content-gal .desktop-image{
  display: block;
 }

@media only screen and (max-width: 600px) {
  .image-with-content-gal .desktop-image{
    display: none;
   }
  .image-with-content-gal .mobile-image{
    display: block;
   }
   
}
</style>
{% schema %}
  {
    "name": "Text content with image",
    "class":"text-content-with-image",
    "settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "image2",
"label": "Image"
},
{
  "type": "checkbox",
  "id": "ontop",
  "label": "Take content on the top",
  "default": false

},

{
  "type": "text",
  "id": "h3",
  "label": "Title 01",
  "default": "Ability to edit text here"
},
{
  "type": "text",
  "id": "p",
  "label": "Title Dec",
  "default": "Also can add small"
},
{
  "type": "text",
  "id": "link_text",
  "label": "Section title",
  "default": "Shop now"
},
{
  "type": "url",
  "id": "link",
  "label": "Link to your location"
},
{
  "type": "text",
  "id": "h32",
  "label": "Title 01",
  "default": "Ability to edit text here"
},
{
  "type": "text",
  "id": "p2",
  "label": "Title Dec",
  "default": "Also can add small"
},
{
  "type": "text",
  "id": "link_text2",
  "label": "Section title",
  "default": "Shop now"
},
{
  "type": "url",
  "id": "link2",
  "label": "Link to your location"
},
{
"type": "richtext",
"id": "richtext1",
"label": "Text"
},
{
"type": "richtext",
"id": "richtext",
"label": "Text"
},
{
"type": "url",
"id": "buttonUrl",
"label": "Button Url"
},
{
"type": "text",
"id": "buttonText",
"label": "Button label"
},
      {
"type": "image_picker",
"id": "image0",
"label": "Image"
},
      {
"type": "image_picker",
"id": "image1",
"label": "Image"
},
{
  "type": "checkbox",
  "id": "ontoprihgt",
  "label": "Take content on the top",
  "default": false

}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}